version: '3.8'

services:
  app:
    container_name: zlati-pediatrics-app
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://postgres:password@db:5432/zlati_pediatrics
      - POSTGRES_PRISMA_URL=postgresql://postgres:password@db:5432/zlati_pediatrics
      - POSTGRES_URL_NON_POOLING=postgresql://postgres:password@db:5432/zlati_pediatrics
      - AUTH_SECRET=supersecret
      - NEXTAUTH_URL=http://localhost:3000
    depends_on:
      - db

  db:
    container_name: zlati-pediatrics-db
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=zlati_pediatrics
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.10
    container_name: zlati-pediatrics-elastic
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    volumes:
      - elastic_data:/usr/share/elasticsearch/data

  grafana:
    image: grafana/grafana:latest
    container_name: zlati-pediatrics-grafana
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - elasticsearch

volumes:
  postgres_data:
  elastic_data:
